[submodule "Group_24_quickbite"]
	path = Group_24_quickbite
	url = https://github.com/atech-inc/Group_24_quickbite.git
[submodule "Group_22_Item_price_generator"]
	path = Group_22_Item_price_generator
	url = https://github.com/AdelekeEniola/Group_22_Item_price_generator.git
[submodule "Group_12_Veri-Vote"]
	path = Group_12_Veri-Vote
	url = https://github.com/laucin/Group_12_Veri-Vote.git
[submodule "Group_2_ChatRoom"]
	path = Group_2_ChatRoom
	url = https://github.com/LordAres999/Group_2_ChatRoom.git
[submodule "Group_11_SmartRide"]
	path = Group_11_SmartRide
	url = https://github.com/solarewaju12-ship-it/Group_11_SmartRide.git
[submodule "Group_5_GroupContributionSystem"]
	path = Group_5_GroupContributionSystem
	url = https://github.com/JaxelDrainz/Group_5_GroupContributionSystem.git
[submodule "GROUP_16_Lost-And-Found-Portal-"]
	path = GROUP_16_Lost-And-Found-Portal-
	url = https://github.com/SlowZ-learn/GROUP_16_Lost-And-Found-Portal-.git
[submodule "group_7_VotingSystem"]
	path = group_7_VotingSystem
	url = https://github.com/JayzAdamz/group_7_VotingSystem.git
[submodule "Group_20_StatDash"]
	path = Group_20_StatDash
	url = https://github.com/DEXT3R07/Group_20_StatDash.git
